<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center login-title"> Register please </h1>
            <div class="account-wall">
                <form class="form-signin" name="registerForm" [formGroup]="registerForm" novalidate>
                    <input type="text" class="form-control" required autofocus
                        name="name"
                        formControlName="name"
                        placeholder="FirstName LastName"                        
                        minlength="8"
                        maxlength="100"
                        pattern="([a-zA-Z\-]+){3,}\s+([a-zA-Z\-]+){3,}$"
                    >
                    <input type="email" class="form-control" placeholder="Email" required 
                        name="userId" 
                        formControlName="userId"
                        minlength="10" maxlength="100" 
                    >
                    <input type="password" class="form-control" placeholder="Password" required
                        name="password"
                        formControlName="password"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#\$%\^&\*])[0-9a-zA-Z!@#\$%\^&\*]{8,}$"
                    >
                    <div *ngIf="registerForm.get('name').status === 'INVALID' && registerForm.get('name').touched"
                        class="alert alert-danger">
                        <span *ngIf="registerForm.get('name').hasError('required')"> Please enter your first and last name</span>
                        <span *ngIf="registerForm.get('name').hasError('minlength')"> Please enter at least 8 characaters for name</span>
                        <span *ngIf="registerForm.get('name').hasError('pattern')"> Please enter only alphabets and space in name and keep in format like 'Firstname Lastname' </span>
                    </div>                        

                    <div *ngIf="registerForm.get('userId').status === 'INVALID' && registerForm.get('userId').touched"
                        class="alert alert-danger">
                        <span *ngIf="registerForm.get('userId').hasError('required')"> Please enter email id </span>
                        <span *ngIf="registerForm.get('userId').hasError('minlength')"> Email id should be at least 10 characters long </span>
                        <span *ngIf="!registerForm.get('userId').hasError('required') && !registerForm.get('userId').hasError('maxlength') && !registerForm.get('userId').hasError('minlength') && registerForm.get('userId').hasError('email')"> Please enter valid email (in format like abc@xyz.com) </span>
                    </div>

                    <div *ngIf="registerForm.get('password').status == 'INVALID' && registerForm.get('password').touched"
                        class="alert alert-danger">
                        <span *ngIf="registerForm.get('password').hasError('required')"> Please enter password </span>
                        <span *ngIf="!registerForm.get('password').hasError('required')"> Password should be at least 8 ccharacters long with at least 1 uppper case, 1 lower case alphabet, a digit and a special character out of !,@,#,$,%,^,& or *</span>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit"
                    [disabled]="!registerForm.valid">
                        Submit 
                    </button>
                    <a routerLink="contactUs" class="text-center new-account">Contact us for any help </a>
                    {{registerForm.value | json}}
                </form>                
            </div>
        </div>
    </div>
</div> 